root{
    --primary:beige;
    --secondary:#00C9E3;
    --tertiary:#007691;
}

body{
    font-family: Arial,Sans-serif;
    color:#434934;
    width:80%;
    margin: 0 auto;
    background-color: var(--primary);
}
footer{
    text-align:center;
}
